#nav-bar {
  height: 22px !important;
  box-shadow: none;
}

.tab-background {
  margin-block: 0 !important;
}

#TabsToolbar {
  --tab-min-height: 19px !important;
  max-height: 19px !important;
}

#tabbrowser-tabs,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox,
.tabbrowser-tabs .tabbrowser-tab {
  min-height: 19px !important;
  max-height: 19px !important;
}

.tab-secondary-label {
  display: none;
}

#navigator-toolbox {
  border: 0 !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  background: #3584e4 !important;
}
.tabbrowser-tab[selected="true"] {
  color: #fff !important;
}
